/* forms */
.error {
    color: var(--red) !important;
    border-color: var(--red) !important;
}
.success {
    color: var(--green) !important;
    border-color: var(--green) !important;
}
.disabled {
    opacity: 0.3 !important;
    color: var(--gray) !important;
    border-color: var(--gray) !important;
    cursor: default !important;
}
input.input-text,
textarea.textarea {
    display: block;
    width: 100%;
    height: 4.4rem;
    padding: 0 1.1rem;
    font-size: 1.6rem;
    line-height: normal;
    color: var(--text);
    border: 1px solid var(--gray);
    border-radius: 0.4rem;
    background: var(--white);
    transition: color $d $f, box-shadow $d $f, border-color $d $f;
    will-change: color, box-shadow, border-color;
    &::placeholder {
        color: var(--gray);
    }
    &:focus {
        border-color: var(--focus);
        box-shadow: 0 0 0 2px var(--secondary);
    }
}
textarea.textarea {
    resize: none;
    overflow: auto;
    height: 14.2rem;
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
    font-family: var(--font-family);
    font-size: 1.2rem;
    line-height: 1.334;
    border-radius: var(--radius);
}
select.select {
    display: block;
    width: 100%;
    height: 4.4rem;
    padding: 0 2.7rem 0 1.1rem;
    font-size: 1.6rem;
    line-height: normal;
    color: var(--text);
    border: 1px solid var(--gray);
    border-radius: 0.4rem;
    background: var(--white) url('../images/select.svg') 100% 50% no-repeat;
    background-size: 2.7rem 4.2rem;
    appearance: none;
    &::-ms-expand {
        display: none;
    }
}
.checkbox,
.radio {
    display: block;
    input {
        position: absolute;
        left: -9999px;
        visibility: hidden;
        &:checked+label {
            &::before {
                border-color: var(--secondary);
            }
            &::after {
                opacity: 1;
            }
        }
        &:disabled+label {
            opacity: 0.3;
            pointer-events: none;
        }
    }
    label {
        cursor: pointer;
        display: block;
        margin: 0;
        font-size: 1.4rem;
        line-height: 1.43;
        padding: 0 0 0 3.2rem;
        position: relative;
        user-select: none;
        &::before {
            content: "";
            position: absolute;
            left: 0.1rem;
            top: 0.1rem;
            width: 1.8rem;
            height: 1.8rem;
            border: 2px solid #8C9196;
            background: var(--white);
            border-radius: 50%;
            transition: border-color $d $f;
        }
        &::after {
            opacity: 0;
            content: "";
            position: absolute;
            left: 0.5rem;
            top: 0.5rem;
            width: 1rem;
            height: 1rem;
            background: var(--secondary);
            border-radius: 50%;
            transition: opacity $d $f;
        }
    }
}
a.button,
input.button,
button.button {
    display: inline-block;
    vertical-align: top;
    padding: 1.3rem 2.4rem;
    text-align: center;
    font-size: 1.4rem;
    line-height: normal;
    font-weight: 500;
    color: var(--white);
    border: 1px solid var(--primary);
    background: var(--primary);
    border-radius: 0.4rem;
    transition: color $d $f, background-color $d $f, border-color $d $f;
    will-change: color, background-color, border-color;
    &-outline {
        color: var(--primary);
        background: var(--white);
        &:hover {
            color: var(--white);
            background-color: var(--primary);
        }
    }
    &-dark {
        border-color: var(--black);
        background: var(--black);
        &:hover {
            border-color: var(--primary);
            background-color: var(--primary);
        }
    }
}
.drop {
    &.open {
        .drop-panel {
            display: block;
        }
    }
}
.drop-panel {
    display: none;
    position: absolute;
    z-index: 1000;
}
.box {
    display: none;
    &.visible {
        display: block;
    }
}
.ui-sortable-handle {
    -ms-touch-action: none;
    touch-action: none;
}
body>.ui-widget {
    position: absolute;
    left: -9999px;
    top: -9999px;
}
.ui-datepicker-header {
    display: flex;
    align-items: center;
    margin-bottom: 0.8rem;
}
.ui-datepicker-title {
    order: -1;
    flex-grow: 1;
    font-size: 1.6rem;
    font-weight: bold;
    padding: 0 0.4rem;
}
.ui-datepicker-prev,
.ui-datepicker-next {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 0;
    line-height: 0;
    width: 2.3rem;
    height: 2.3rem;
    margin-left: 0.2rem;
    background: #F1F1F1;
    border-radius: 0.6rem;
    &::after {
        content: "";
        position: absolute;
        left: 0.9rem;
        top: 0.7rem;
        width: 0;
        height: 0;
        border: 0.45rem solid transparent;
        border-left-width: 0.6rem;
        border-right-width: 0.6rem;
        border-left-color: var(--gray-dark);
        transition: border-color $d $f;
        will-change: border-color;
    }
    &:hover {
        &::after {
            border-left-color: var(--secondary);
        }
    }
}
.ui-datepicker-prev {
    &::after {
        left: 0.2rem;
        border-left-color: transparent;
        border-right-color: var(--gray-dark);
    }
    &:hover {
        &::after {
            border-left-color: transparent;
            border-right-color: var(--secondary);
        }
    }
}
.ui-datepicker {
    max-width: 28rem;
    padding: 1rem;
    background: var(--white);
    box-shadow: var(--shadow);
    border-radius: var(--radius);
}
.ui-datepicker-inline {
    margin-bottom: 1.2rem;
    padding: 0;
    border-radius: 0;
    box-shadow: none;
}
.ui-datepicker-calendar {
    width: 100%;
    table-layout: fixed;
    border-spacing: 0;
    thead {
        th {
            padding: 0 0 0.8rem;
            text-align: center;
            font-size: 1.2rem;
            line-height: 1.5;
            color: var(--text);
        }
    }
    td {
        padding: 0 0 0.4rem;
        a {
            display: block;
            width: 2.4rem;
            height: 2.4rem;
            text-align: center;
            font-size: 1.2rem;
            line-height: 2;
            color: var(--text);
            margin: 0 auto;
            border-radius: 0.4rem;
            &.ui-priority-secondary {
                background: transparent;
                color: var(--gray);
            }
            &.ui-state-active {
                font-weight: bold;
                color: var(--secondary);
                background: rgba(#6DD230, 0.15);
            }
            &:hover {
                color: var(--secondary);
            }
        }
    }
}
.emotions {
    position: relative;
    &-toggle {
        display: block;
        width: 2.4rem;
        height: 2.4rem;
        svg {
            display: block;
            margin: 0 auto;
            width: 100%;
            height: auto;
            path {
                transition: fill $d $f;
            }
        }
        &:hover {
            svg path {
                fill: rgba(#F3BB1C, 0.8);
            }
        }
    }
    &-panel {
        left: 0;
        top: 100%;
        margin-top: 0.7rem;
        width: 28.2rem;
        padding: 0.5rem;
        background: var(--white);
        box-shadow: var(--shadow);
        border-radius: var(--radius);
    }
    &-list {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
        list-style: none;
        max-height: 13.6rem;
        overflow: auto;
        li {
            button {
                display: block;
                margin: 0;
                padding: 0.5rem;
                font-size: 2.4rem;
                line-height: 1;
                text-align: center;
                border: 0;
                background: transparent;
                border-radius: 0.4rem;
                transition: background-color $d $f;
                &:hover {
                    background-color: rgba(#EB6709, 0.1);
                }
            }
        }
    }
}
.multi-select-menuitem {
    display: block;
    margin: 0;
    padding: 0.4rem 0;
    input {
        position: absolute;
        left: -9999px;
        visibility: hidden;
        &:checked+.label-span {
            color: var(--black);
            &::before {
                background-color: var(--secondary);
                border-color: var(--secondary);
            }
        }
        &:disabled+.label-span {
            opacity: 0.3;
            pointer-events: none;
        }
    }
    .label-span {
        cursor: pointer;
        display: flex;
        align-items: center;
        position: relative;
        margin: 0;
        padding-left: 3rem;
        color: var(--gray);
        user-select: none;
        transition: color $d $f;
        will-change: color;
        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            margin-top: -0.9rem;
            width: 1.8rem;
            height: 1.8rem;
            border: 2px solid var(--gray);
            background: var(--white) url("../images/checkbox.svg") 50% 50% no-repeat;
            background-size: 1.3rem 0.9rem;
            border-radius: 0.4rem;
            transition: background-color $d $f, border-color $d $f;
            will-change: background-color, border-color;
        }
        img {
            width: 3rem;
            margin-right: 0.8rem;
            border-radius: 50%;
        }
    }
}
.multi-select-menuitem--titled:before {
    display: block;
    font-weight: bold;
    content: attr(data-group-title);
    margin: 0 0 0.5rem;
}
.multi-select-menuitem--titledsr:before {
    display: block;
    font-weight: bold;
    content: attr(data-group-title);
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.multi-select-container {
    display: block;
    position: relative;
}
.multi-select-menu {
    display: none;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 100%;
    margin-top: -1px;
    max-width: 100%;
    min-width: 100%;
    max-height: 20.2rem !important;
    overflow: auto !important;
    padding: 0.7rem 1.1rem;
    border: 1px solid var(--gray);
    background: var(--white);
    border-radius: 0.4rem;
    box-shadow: var(--shadow);
}
.multi-select-presets {
    border-bottom: 1px solid var(--gray);
}
.multi-select-button {
    cursor: default;
    display: block;
    width: 100%;
    height: 4.4rem;
    padding: 0.6rem 2.7rem 0.6rem 1.1rem;
    font-size: 1.6rem;
    line-height: 1.875;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 1px solid var(--gray);
    border-radius: 0.4rem;
    background: var(--white) url('../images/select.svg') 100% 50% no-repeat;
    background-size: 2.7rem 4.2rem;
    img {
        display: inline-block;
        vertical-align: top;
        width: 3rem;
        margin-right: 0.4rem;
        border-radius: 50%;
    }
}
.multi-select-container--open .multi-select-menu {
    display: block;
}
.multi-select-container--positioned .multi-select-menu {
    box-sizing: border-box;
}
.multi-select-container--positioned .multi-select-menu label {
    white-space: normal;
}
@media (max-width: 767.98px) {
    .multi-select-menu {
        max-height: 15.8rem !important;
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;
    }
}
.upload-file {
    position: relative;
    margin-top: 1.2rem;
    &-template {
        display: none;
    }
    &-list {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 2;
        &-item {
            position: relative;
            overflow: hidden;
            width: 100%;
            height: 27.9rem;
            padding: 3.2rem 1.2rem;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            align-content: center;
            text-align: center;
            background-color: #F1F4F5;
            border-radius: var(--radius);
            &-vs-image {
                background-position: 50% 50%;
                background-repeat: no-repeat;
                background-size: cover;
                .upload-file-list-item-icon,
                .upload-file-list-item-name,
                .upload-file-list-item-size {
                    opacity: 0;
                }
            }
            &-remove {
                position: absolute;
                top: 1rem;
                right: 1rem;
                display: block;
                width: 2.4rem;
                height: 2.4rem;
                padding: 0.7rem 0;
                background: rgba(56, 71, 79, 0.3);
                border-radius: 50%;
                svg {
                    display: block;
                    margin: 0 auto;
                    width: 1rem;
                    height: auto;
                    path {
                        stroke: var(--white);
                    }
                }
                &:hover {
                    background-color: rgba(56, 71, 79, 0.6);
                }
            }
            &-icon {
                flex: 0 0 100%;
                max-width: 100%;
                margin-bottom: 1.6rem;
                svg {
                    display: block;
                    margin: 0 auto;
                    width: 2.5rem;
                    height: auto;
                }
            }
            &-name {
                flex: 0 0 100%;
                max-width: 100%;
                margin-bottom: 1rem;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            &-size {
                flex: 0 0 100%;
                max-width: 100%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
    &-block {
        position: relative;
    }
    &-input {
        position: absolute;
        z-index: -1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        outline: none;
        opacity: 0;
    }
    &-label {
        cursor: pointer;
        display: flex;
        align-items: center;
        text-align: center;
        margin: 0;
        padding: 2rem 1rem 1rem;
        height: 27.9rem;
        overflow: hidden;
        color: #202223;
        background: var(--white);
        border: 2px dashed var(--gray);
        border-radius: var(--radius);
        transition: border-color $d $f;
        will-change: border-color;
        &:hover {
            border-color: #5C5F62;
        }
        &-wrap {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
    &-icon {
        display: block;
        margin-bottom: 2rem;
        svg {
            display: block;
            margin: 0 auto;
            width: 4rem;
            height: 4rem;
        }
    }
    &-add {
        display: inline-block;
        vertical-align: top;
        margin-bottom: 2.2rem;
        padding: 0.7rem 1.5rem;
        font-size: 1.4rem;
        line-height: 1.43;
        font-weight: 500;
        background: var(--white);
        border: 1px solid #BBBFC3;
        box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
        border-radius: 0.4rem;
    }
    &-info {
        display: block;
        font-size: 1.4rem;
        line-height: 1.43;
    }
}